@{
    ViewData["Title"] = "Baking";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4 title">The Daily Urge to Drop Out of School and Bake</h1>
        <br />
    </div>

    <div class="text-center">
        <img src="~/cake.png" width="350" height="500"/>
        <img src="~/loaf.png" width="350" height="500" />
        <img src="~/muffins.png" width="350" height="500" />
    </div>

    <br />

    <div class="text-center"
        <p>
            I love to bake. Baking is relaxing and it helps me take my mind of things. It requires brain power
            to be precise and to know how long to keep it in the oven for, but at least it's not coding ;)
        <br />
            The best part of it all, I get to eat what I make. Yeah, those pictures aren't professionally taken.
            Someday I'll get good at taking pictures of my delicious food. I know it still looks good even
            if the picture is not the best. Baking with bananas and lemons are my jam.
        </p>
    </div>
</body>
</html>
